<%= form_for(@campaign) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :funding_goal %><br>
    <%= f.number_field :funding_goal %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>

  <p>Rewards</p>
	<div class="rewards-form">
		
	  <%= f.fields_for :rewards do |subform| %>
		  	<%= render 'reward_fields', f: subform %>
	  <% end %>
	  <%= link_to_add_association 'add reward', f, :rewards %>
	</div>

	<%= f.submit %>
<% end %>