<h2>
  <%= @campaign.title %> Information
</h2>

<p>
  Description: <%= @campaign.description %><br>
  Goal: $<%= @campaign.funding_goal %><br>
  Starts: <%= @campaign.start_date %><br>
  Ends: <%= @campaign.end_date %> <br> <br>

	Rewards:<br>
	<ul>
		<% @campaign.rewards.each do |reward| %>
			<li>
			  Description: <%= reward.description %> <br>
			  Amount: $<%= reward.pledge_amount %> 
		  </li>
	  <% end %>
  </ul>

  <%= link_to "Edit", edit_campaign_path(@campaign) %>
  <%= link_to "Delete", @campaign, method: :delete, data: {confirm: "Are you sure you want to delete this campaign?"}  %>
</p>