<h2>
  <%= @campaign.title %> Information
</h2>

<p>
  <div id="campaign-info">
    <%= render @campaign %>
  </div>

	Rewards:<br>
  <div id="thanks" style='display: none'>Pledge Committed! Yaaay!</div>
	<ul>
		<% @campaign.rewards.each do |reward| %>
			<li>
			  Amount: $<%= reward.pledge_amount %> <br>
			  Description: <%= reward.description %> <br>
        <button data-reward_id="<%= reward.id %>">Donate!</button>
        <!-- 
			  <%= form_for(Pledge.new, :remote => true) do |f| %>
			  <%= f.hidden_field :donation_amount, value: reward.pledge_amount %>
			  <%= f.hidden_field :campaign_id, value: @campaign.id %>
			  <%= f.hidden_field :reward_id, value: reward.id %>
			  <%= f.submit %>
			  <% end %>   -->
		  </li>
	  <% end %>
  </ul>

  <%= link_to "Edit", edit_campaign_path(@campaign) %>
  <%= link_to "Delete", @campaign, method: :delete, data: {confirm: "Are you sure you want to delete this campaign?"}  %>
</p>