<h2>
  <%= @campaign.title %> Information
</h2>

<p>
  Description: <%= @campaign.description %><br>
  Goal: $<%= @campaign.funding_goal %><br>
  Starts: <%= @campaign.start_date %><br>
  Ends: <%= @campaign.end_date %> <br> <br>

	Rewards:<br>
	<ul>
		<% @campaign.rewards.each do |reward| %>
			<li>
			  Amount: $<%= reward.pledge_amount %> <br>
			  Description: <%= reward.description %> <br>
			  <%= form_for Pledge.new do |f| %>
			  <%= f.hidden_field :donation_amount, value: reward.pledge_amount %>
			  <%= f.hidden_field :campaign_id, value: @campaign.id %>
			  <%= f.hidden_field :reward_id, value: reward.id %>
			  <%= f.submit %>
			  <% end %>  
		  </li>
	  <% end %>
  </ul>

  <div class="pledges">
		<li>
  		Total Pledges: $<%= @sum %> <br>
  	</li>
  </div>

  <%= link_to "Edit", edit_campaign_path(@campaign) %>
  <%= link_to "Delete", @campaign, method: :delete, data: {confirm: "Are you sure you want to delete this campaign?"}  %>
</p>